.container {
  height: 100vh;
  position: relative;
  overflow: auto;
  .navbar {
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--primary-background-color);
  }
}

.message {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.loaderCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

