.light-theme {
  --primary-background-color: #f3f3f3;
  --secondary-background-color: #fff;
  --primary-text-color: #000;
  --primary-contrast-color: #000;
}

.dark-theme {
  --primary-background-color: #000;
  --secondary-background-color: rgb(49, 49, 49);
  --primary-text-color: #fff;
  --primary-contrast-color: #fff;
}
